# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Fetch and update latest `npm` packages
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "13:00"
      timezone: Asia/Jakarta
    open-pull-requests-limit: 7
    commit-message:
      prefix: "build"
      include: "scope"

  # Fetch and update latest `github-actions` pkgs
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "13:00"
      timezone: Asia/Jakarta
    open-pull-requests-limit: 7
    commit-message:
      prefix: "ci(actions)"
