.git/
.github/
.husky/
.vscode/
bin/
junk/
node_modules/
scripts/
src/
theme/missing-keys.txt
theme/test.txt
packages/

.editorconfig
.eslintcache
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
jsconfig.json
release.config.js
*.vsix
